<form class="form form-category" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <h1>Register Category</h1>
    <div class="field">
        <label for="category-name">Name Category</label>
        <input type="text" formControlName="name" id="category-name" class="name-category"
            placeholder="Ej: Pasta al ajillo">
        <div class="error-container">
            <!--
                validacion de los estados del campo name
                @if (this.formData.get('name')?.invalid && (
                this.formData.get('name')?.dirty ||
                this.formData.get('name')?.touched)) {
            -->
            @if (this.formData.get('name')?.invalid && (
            this.formData.get('name')?.dirty ||
            this.formData.get('name')?.touched)) {

            <!--
                Validacion de los errores del campo name del formulario
            -->
            @if (this.formData.get('name')?.errors?.['required']) {
            <small>
                El campo name es requerido
            </small>
            }

            @if (this.formData.get('name')?.errors?.['minlength']) {
            <small>
                El campo name debe tener al menos 3 caracteres
            </small>
            }

            }
        </div>
    </div>
    <div class="field">
        <label for="category-description">Description</label>
        <textarea formControlName="description" id="category-description" placeholder="Brief description"></textarea>
        <div class="error-container">
            <!--
                Validacion de los estados del campo description
            -->
            @if (this.formData.get('description')?.invalid && (
            this.formData.get('description')?.dirty ||
            this.formData.get('description')?.touched)) {

            <!--
                Validacion de los errores del campo description del formulario
            -->
            @if (this.formData.get('description')?.errors?.['required']) {
            <small>
                El campo description es requerido
            </small>
            }

            @if (this.formData.get('description')?.errors?.['minlength']) {
            <small>
                El campo description debe tener al menos 15 caracteres
            </small>
            }

            @if (this.formData.get('description')?.errors?.['maxlength']) {
            <small>
                El campo description debe tener menos de 140 caracteres
            </small>
            }

            }
        </div>
    </div>
    <div class="field buttons">
        <button class="btn btn-register" type="submit" [disabled]="formData.invalid">Register</button>
        <button class="btn btn-reset" type="reset">Reset</button>
    </div>
</form>