/* You can add global styles to this file, and also import other style files */
.form {
  width: 50%;
  margin: 0 auto;

  .field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .field.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .error {
    color: red;
    font-size: .8rem;
  }
}

.active {
  background: green;
  border: 1px solid green;
}

.btn {
  border: 1px solid blue;
  padding: .5rem 1.2rem;
  border-radius: .3rem;
  font-size: .85rem;
  font-weight: bold;

  &.btn-register {
    background: #6ee86e;
    color: white;
    border: 1px solid #6ee86e;
  }

  &.btn-reset {
    background: #F3F3F3;
    border: 1px solid lightgray;
  }
}